@page
@model HappyProgramming_SWP391_GROUP1.Controllers.ChangePasswordController
@{
}
<!doctype html>
<html lang="en">
<head>
    <title>ChangedPassword</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/SignUpTemplate/css/style.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">ChangePassword</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap">
                        <h3 class="text-center mb-4">ChangedPassword</h3>
                        <form action="@Url.Action("ChangePassword", "ChangePassword")" class="signin-form" method="post">
                            <div class="form-group mb-3">
                                <label class="label" for="password">OldPassword</label>
                                <input name="OldPassword" type="password" class="form-control" placeholder="Enter your OldPassword"
                                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
                                       title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number"
                                       required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Enter your New Password" name="newPassword"
                                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
                                       title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number"
                                       required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password"> Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Comform your new Password" name="cfNewPassword"
                                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
                                       title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number"
                                       required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3"
                                        asp-action="ChangePassword" asp-controller="ChangePassword">
                                    Confirm
                                </button>
                            </div>
                            <div class="form-group d-md-flex">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/SignUpTemplate/js/jquery.min.js"></script>
    <script src="~/SignUpTemplate/js/popper.js"></script>
    <script src="~/SignUpTemplate/js/bootstrap.min.js"></script>
    <script src="~/SignUpTemplate/js/main.js"></script>

</body>
</html>